<div id="brixAdminBar" class="brix" ng-class="{brixadmin_hidden: hideAdminBar}">
  <ul>
    <li class="highlight pull-left logo" ng-click="toggleHide()"><a>BRIX</a></li>
    <li class="pull-left" ng-click="openMediaGallery()"><a class="media" title="media"></a></li>
    {# <li class="pull-left" ng-click="contentManager()"><a class="document" title="Content"></a></li> #}
    <!-- <li class="pull-left"><a class="schedule" title="schedule"></a></li> -->
    <li class="pull-left" ng-hide="new" ng-click="pageOptions()"><a class="edit" title="edit"></a></li>
    <li class="pull-left" ng-click="newPageOptions()"><a class="add" title="Add"></a></li>
    <li class="highlight pull-right" ng-hide="editMode" ng-click="toggleEdit()"><a class="text-icon edit">Edit</a></li>

    <li class="highlight pull-right" ng-click="save()" ng-show="editMode"><a class=" text-icon save">Publish</a></li>
    <li class="pull-right" ng-click="reset()" ng-show="editMode"><a class="text-icon cancel">Cancel</a></li>
    <li class="pull-right" ng-click="togglePreview()"><a class="preview" ng-class="{true:'active'}[previewMode]" title="Preview"></a></li>
    {# <li class="pull-right" data-drop="true"><a class="text-icon"> Trash</a></li> #}
  </ul>
</div>
